
spring:
  application:
    name: cloud-ready-task-api

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/taskdb}
    username: ${DB_USERNAME:omar}
    password: ${DB_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
server:
  port: 8888
